---
// src/components/Folder.astro
const { name, comment, open = true } = Astro.props;
---
<details open={open}>
  <summary class="folder">
    {name} {comment && <span class="tree-comment">{comment}</span>}
  </summary>
  <div class="tree-contents">
    <slot />
  </div>
</details>